<!DOCTYPE html>
<html ng-app="meuModulo">
<head>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Angular JS</title>
</head>

<body ng-controller="indexController">
<header class="container">
	<!-- ng-bind="titulo" exibe o conteudo da variavel titulo -->
	<h2 ng-bind="titulo"></h2>	
</header>
<main class="container">
	<div class="row">
		<!-- busca.nome filtra apenas pela coluna de nomes -->
		<input type="text" placeholder="Busca" ng-model="busca">

	</div>
	<table class="striped">
		<thead>
			<tr>
				<th>Nome </th>
				<th>E-mail </th>
				<th>Nota1 </th>
				<th>Nota2 </th>
				<th>Nota3 </th>
				<th>Média </th>
			</tr>
		</thead>
		<tbody>
			<!-- ng-repeat funciona semelhante ao foreach -->
			 <!-- | filter:busca executa um filtro na lista-->
			<tr ng-repeat="aluno in alunos | filter:busca">
				<td>{{aluno.nome}}</td>
				<td>{{aluno.email}}</td>
				<td>{{aluno.nota01}}</td>
				<td>{{aluno.nota02}}</td>
				<td>{{aluno.nota03}}</td>
				<td>{{aluno.media}}</td>
			</tr>
		</tbody>
	</table>

</main>

 <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="lib/angular/angular.min.js"></script>

<script type="text/javascript">

   $(document).ready(function(){	    
	    $('.modal-trigger').leanModal();
	  });

</script>

<script type="text/javascript">
	angular.module("meuModulo",[])
	.controller("indexController",function($scope){
		//$scope serve como uma ponte entre a view e o controller
		$scope.titulo = "Sistema com Angular JS";

		//Lista de alunos
		$scope.alunos = [
			{nome: "Camila",email: "camila@gmail.com",nota01:03,nota02:05,nota03:10},
			{nome: "João",email: "joao@gmail.com",nota01:10,nota02:30,nota03:10},
			{nome: "Julia",email: "julia@gmail.com",nota01:25,nota02:50,nota03:40},
			{nome: "José",email: "jose@gmail.com",nota01:60,nota02:70,nota03:80},
			{nome: "Lucas",email: "lucas@gmail.com",nota01:100,nota02:99,nota03:200},
		]

		//executa uma função na inicialização da página
		var ini = function(){
			$scope.alunos.forEach(function(aluno){
				aluno.media = media(aluno);
			});
		};

		var contar = 0;
		var media = function(Aluno){			
			//exibe no console do navegador toda vez q funcao é chamada
			//Console.log(contar++);

			var media = (Aluno.nota01 + Aluno.nota02 + Aluno.nota03)/3;

			//toFixed(2) exibe o número com só 2 casas depois da virgula
			return media.toFixed(2);
		};

		ini();

		/*var contar = 0;
		$scope.media = function(Aluno){
			//exibe no console do navegador toda vez q funcao é chamada
			Console.log(contar++);

			var media = (Aluno.nota01 + Aluno.nota02 + Aluno.nota03)/3;

			//toFixed(2) exibe o número com só 2 casas depois da virgula
			return media.toFixed(2);
		};*/
	})

</script>
</body>
</html>
</html>