<!DOCTYPE html>
<html ng-app="meuModulo">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Angular JS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body ng-controller="indexController">
<header class="container">	
	<!-- ng-bind="titulo" exibe o conteudo da variavel titulo -->
	<div class="row"><h2 ng-bind="titulo"></h2></div>
</header>
<main class="container">
	<div class="row">
		<!-- busca.email filtra apenas pela coluna de email -->
		<input type="text" ng-model="busca.email" placeholder="Busca">

	</div>

	<div class="row">
		<table class="striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Nota1</th>
				<th>Nota2</th>
				<th>Nota3</th>
				<th>Média</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<!-- ng-repeat funciona semelhante ao foreach -->
			 <!-- | filter:busca executa um filtro na lista-->
			<tr ng-repeat="aluno in alunos | filter:busca">
				<td>{{aluno.nome}}</td>
				<td>{{aluno.email}}</td>
				<td>{{aluno.nota1}}</td>
				<td>{{aluno.nota2}}</td>
				<td>{{aluno.nota3}}</td>
				<td>{{aluno.media}}</td>
				<td><button class="btn blue" ng-click="editarAluno(aluno)">Editar</button></td>
			</tr>
		</tbody>
	</table>
	</div>

	
	<div class="row">
		<!-- ng-click="editando = false" seta titulo ADIOCIONAR -->
  		<a ng-click="abreAddAlunos();" class="waves-effect waves-light btn">Adicionar</a>
	</div>
</main>

  
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<!-- ng-if cria uma condição dentro da tag HTML-->
      <h4 ng-if="!editando">Adicionar Aluno</h4>
      <h4 ng-if="editando">Editar Aluno</h4>
      <p>Preencha os dados do Aluno</p>
      <div class="row">
      	<!-- m6 desktop s12 mobile definem espaço ocupado nas telas-->
      	<!-- Input é o campo de entrada de dados -->
      	<div class="input-field col m6 s12">
      		<!-- ng-model="Aluno.nome" cria um objeto Aluno com o atributo nome -->
          <input type="text" ng-model="Aluno.nome" class="validate" placeholder="Nome">
          
        </div>
        
        <div class="input-field col m6 s12">
          <input type="text" ng-model="Aluno.email" class="validate" placeholder="E-mail">
          
        </div>
        <div class="input-field col m4 s12">
          <input type="text" ng-model="Aluno.nota1" class="validate" placeholder="Nota1">
      
        </div>
        <div class="input-field col m4 s12">
          <input type="text" ng-model="Aluno.nota2" class="validate" placeholder="Nota2">
        
        </div>
        <div class="input-field col m4 s12">
          <input type="text" ng-model="Aluno.nota3" class="validate" placeholder="Nota3">
        
        </div>
      </div>
    </div>
    <div class="modal-footer">
    	<!-- ng-click="addAluno(Aluno)" que chama o método que add dados no clique do botão-->
    	<a ng-if="!editando" ng-click="addAluno(Aluno)" class="waves-effect waves-light btn blue">Adicionar</a>
    	<a ng-if="editando" ng-click="salvarAluno(Aluno)" class="waves-effect waves-light btn blue">Salvar</a>
    	<!-- modal-close encerra a tela de mogal-->
      	<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>

    </div>
  </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="lib/angular/angular.min.js"></script>

<script type="text/javascript">
	//Inicialização do sistema de Modal
	 $(document).ready(function(){	    
	    $('.modal-trigger').leanModal();
	  });

</script>

<script type="text/javascript">
	angular.module("meuModulo",[])
	.controller("indexController",function($scope){
		$scope.titulo = "Sistema com Angular JS";
		$scope.alunos = [
			{nome: "Camila",email:"camila@mail.com",nota1:65,nota2:80,nota3:55},
			{nome: "Pedro",email:"pedro@mail.com",nota1:75,nota2:80,nota3:55},
			{nome: "Murilo",email:"murilo@mail.com",nota1:65,nota2:60,nota3:55},
			{nome: "João",email:"joao@mail.com",nota1:95,nota2:80,nota3:55},
			{nome: "Ana",email:"ana@mail.com",nota1:65,nota2:30,nota3:55}
		];

	

		//executa uma função na inicialização da página
		var init = function(){
			$scope.alunos.forEach(function(aluno){
				aluno.media = media(aluno);
			});
			limpaForm();
		};
		var contar2 = 0;
		var media = function(Aluno){
			//exibe no console do navegador toda vez q funcao é chamada
			console.log(contar2++);
			//parseFloat converte os valores para número (float)
			var media = (parseFloat(Aluno.nota1) + parseFloat(Aluno.nota2) + parseFloat(Aluno.nota3))/3;
			//toFixed(2) exibe o número com só 2 casas depois da virgula
			return media.toFixed(2);
		};

		$scope.abreAddAlunos = function(){
			$scope.editando = false;
			limpaForm();
			$('#modal1').openModal();
		};

			//seta titulo ADIOCIONAR
		$scope.editando = false;

		var alunoEditar;

		$scope.editarAluno = function(Aluno){
			//seta titulo EDITAR
			$scope.editando = true;
			angular.copy(Aluno, $scope.Aluno);
			$('#modal1').openModal();
			alunoEditar = Aluno;
		}

		$scope.salvarAluno = function(Aluno){
			alunoEditar.nome = Aluno.nome;
			alunoEditar.email = Aluno.email;
			alunoEditar.nota1 = Aluno.nota1;
			alunoEditar.nota2 = Aluno.nota2;
			alunoEditar.nota3 = Aluno.nota3;
			alunoEditar.media = media(Aluno);
			$('#modal1').closeModal();
		};
		

		$scope.addAluno = function(Aluno){
			Aluno.media = media(Aluno);
			//adc objeto aluno na lista de alunos
			$scope.alunos.push(Aluno);
			//Fecha o método modal
			$('#modal1').closeModal();
			//limpa os dados do formulario
			limpaForm();
		};

		var limpaForm = function(){
			$scope.Aluno = {nome: "",email:"",nota1:'',nota2:'',nota3:'',media:''};
		};


		init();

	})

</script>
</body>
</html>